body {
  margin: 20px 30px;
}

h2 {
  font-weight: 300;
  font-style: italic;
}

.locator span {
  display: none;
}

.locator input {
  font-size: 18px;
  font-style: italic;
}

.locator a {
  font-size: 16px;
  display: none;
}

.locator i {
  color: #269bff;
}

.place-finder input {
  height: 35px;
  margin-right: -4px;
  border: 1px solid #8ac9ff;
  font-size: 25px;
  font-style: italic;
}

.place-finder button {
  height: 35px;
  width: 35px;
  border: 0;
  vertical-align: bottom;
  font-size: 25px;
  background: #8ac9ff;
  color: #fff;
  cursor: pointer;
}

.place-finder button:disabled {
  background: #ddd;
}
